
doctype html
html
  title Api Compare Rport
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
  link(rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css")
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/html.css')
  link(rel='stylesheet', href='/stylesheets/annotated.css')
  script(type='text/javascript', src='/javascripts/jsondiffpatch-formatters.min.js')
  script(type='text/javascript', src='/javascripts/jsondiffpatch.min.js')
  body

    block content

    footer(class="w3-container w3-theme-dark w3-padding-16")    
      div(style="position:relative;bottom:55px;" class="w3-tooltip w3-right")
            
     
  
