doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/html.css')
    link(rel='stylesheet', href='/stylesheets/annotated.css')
    script(type='text/javascript', src='/javascripts/jsondiffpatch-formatters.min.js')
    script(type='text/javascript', src='/javascripts/jsondiffpatch.min.js')
  body
    block content
